@font-face {
  font-family: "Jose";
  src: url(font/JosefinSans-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: "Jose";
  src: url(font/JosefinSans-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: "Jose";
  src: url(font/JosefinSans-Bold.ttf);
  font-weight: 700;
}

body {
  background-image: url(https://img.freepik.com/free-vector/hand-drawn-minimal-background_23-2149001650.jpg?w=900&t=st=1697683346~exp=1697683946~hmac=e41016acdfe402ecf957cfa1120bdf35d10f27b3fb255206539d4b7ba299e033);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Jose";
  font-weight: 400;
}

.__box_option {

  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
}

.__box-step {
  padding: 0 20px;
  margin-bottom: 40px;

}

.title {
  font-weight: 700;
  font-size: clamp(30px, 5vw, 50px);
  margin-bottom: 0;
}

.dec {
  font-size: clamp(18px, 5vw, 30px);
}

.__wrap-step {
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  width: 100%;
  background-color: white;
  border: 1px solid #ffc36aaf;
  box-shadow: 0 0 4px #3e3a3a94;
  min-height: 210px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  overflow: hidden;
}

.animation {
  animation: flip 3s ease;
}

@keyframes flip {
  from {
    transform: rotateY(100deg);
  }

  to {
    transform: rotateY(0deg);
  }
}

.step {
  justify-content: center;
  align-items: center;
  width: 100%;
  display: none;
  transition: display 4s ease;
}

.step2 {
  font-size: 25px;
  text-align: center;
  font-weight: 600;
  margin-bottom: 30px;
  line-height: 31px;
}

@media screen and (max-width:991px) {
  .__wrap-step {
    min-height: 230px;
  }
}

@media screen and (max-width:767px) {
  .step2 {
    font-size: 20px;

  }

  .__wrap-step {
    min-height: 250px;
  }
}

.step1,
.step3 {
  font-size: 45px;
  font-weight: 700;
  text-align: center;
}



.step-active {
  display: flex !important;
}

.anwser {
  font-size: 18px;
  padding: 9px 20px 5px 20px;
  border-radius: 20px;
  line-height: 100%;
  font-weight: 600;
  color: white;
}

.step3 {
  color: white;
}

.anwser:hover {
  cursor: pointer;
  box-shadow: 0 0 2px #3e3a3a;
}

.anwser-yes {
  background-color: #0D6EFD;
}

.anwser-no {
  background-color: #FF4254;
}

.__box-anwser {
  position: absolute;
  left: 0px;
  bottom: 10px;
}

.__box-step1 {
  justify-content: center;
  align-items: center;
  display: none;
}